<!--
    nav.ejs
    Final

    Revision History
        Boa Im, 2022.04.18: Created
-->

<nav class="top_menu">
    <ul>
        <li>
            <a href="/">Shop</a>
        </li>
        <li>
            <a href="/allorders">View Orders</a>
        </li>
    </ul>
</nav>